@import url("https://fonts.googleapis.com/css?family=Cabin");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  box-sizing: border-box; }

html {
  font-size: 8px;
  height: 100%; }

body {
  margin: 0;
  height: 100%;
  background-color: #1a1a1a; }

a:link {
  text-decoration: none;
  color: #e6e6e6; }
  a:link:hover {
    color: white; }

input, button, submit {
  border: none; }
  input:focus, button:focus, submit:focus {
    outline: none; }

.material-icons.top-bar__action-button {
  font-size: 48px;
  margin: 0 32px;
  text-shadow: 0px 2px 4px black; }

.material-icons.top-bar__empty-button {
  font-size: 48px;
  margin: 0 32px; }

h1 {
  font-family: 'Cabin', sans-serif; }

.top-bar__home {
  margin: auto;
  text-align: center;
  color: #cccccc;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0 0 4px #4d4d4d, 0 0 6px #333333; }

.top-bar__sub {
  margin: auto;
  text-align: center;
  color: #b3b3b3;
  font-size: 2.4vh;
  font-weight: 300; }

h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 3vh; }

.button-text__h2 {
  margin: auto;
  text-transform: uppercase;
  color: black; }

.home-scene__h2 {
  color: #999999;
  margin-bottom: 6vh; }

.home-scene--em__h2 {
  color: white; }

.action-menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.shell {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.top-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.top-bar__empty {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: transparent; }

.top-bar__left-action {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #e6e6e6;
  transition: color .2s ease;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .top-bar__left-action:hover {
    color: white;
    text-shadow: 0 0 16px gray; }
  .top-bar__left-action:active {
    color: black; }

.top-bar__title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4; }

.top-bar__right-action {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #e6e6e6;
  transition: color .2s ease;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .top-bar__right-action:hover {
    color: white; }
  .top-bar__right-action:active {
    color: black; }

.home-scene {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.bottom-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 8vh;
  min-height: 48px;
  margin: auto;
  text-transform: uppercase;
  color: black;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e6e6e6;
  box-shadow: 0 4px 0 0 #999999;
  transition: background-color .2s ease, box-shadow .2s ease, margin .2s ease, color .2s ease;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 8px 32px;
  border-radius: 4px;
  cursor: pointer; }
  .button:hover {
    background-color: white;
    box-shadow: 0 4px 0 0 #999999, 0 0 16px 0 gray; }
  .button:active {
    color: white;
    background-color: #333333;
    box-shadow: 0 0 0 0;
    box-shadow: inset 0 2px 2px #000000;
    margin: 12px 32px 4px; }

.top-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.top-bar__title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4; }

.top-bar__left-action {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #e6e6e6;
  transition: color .2s ease;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .top-bar__left-action:hover {
    color: white;
    text-shadow: 0 0 16px gray; }
  .top-bar__left-action:active {
    color: black; }

.top-bar__right-action {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #e6e6e6;
  transition: color .2s ease;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .top-bar__right-action:hover {
    color: white; }
  .top-bar__right-action:active {
    color: black; }

.top-bar__empty {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: transparent; }

input[type=range] {
  -webkit-appearance: none;
  width: 60%;
  background: transparent; }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; }
  input[type=range]:focus {
    outline: none; }
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent; }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 6vh;
    width: 6vh;
    border-radius: 3vh;
    background: #e6e6e6;
    cursor: pointer;
    margin: -3vh 0; }
    input[type=range]::-webkit-slider-thumb:hover {
      background: white;
      box-shadow: 0 0 0 1.4vh rgba(77, 77, 77, 0.5); }
    input[type=range]::-webkit-slider-thumb:active {
      background: white;
      box-shadow: 0 0 0 2.4vh rgba(102, 102, 102, 0.5); }
  input[type=range]::-moz-range-thumb {
    height: 6vh;
    width: 6vh;
    border-radius: 3vh;
    background: #e6e6e6;
    cursor: pointer;
    margin: -3vh 0; }
    input[type=range]::-moz-range-thumb:hover {
      background: white;
      box-shadow: 0 0 0 1.4vh rgba(77, 77, 77, 0.5); }
    input[type=range]::-moz-range-thumb:active {
      background: white;
      box-shadow: 0 0 0 2.4vh rgba(102, 102, 102, 0.5); }
  input[type=range]::-ms-thumb {
    height: 6vh;
    width: 6vh;
    border-radius: 3vh;
    background: #e6e6e6;
    cursor: pointer;
    margin: -3vh 0; }
    input[type=range]::-ms-thumb:hover {
      background: white;
      box-shadow: 0 0 0 1.4vh rgba(77, 77, 77, 0.5); }
    input[type=range]::-ms-thumb:active {
      background: white;
      box-shadow: 0 0 0 2.4vh rgba(102, 102, 102, 0.5); }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.6vh;
    cursor: pointer;
    background: #333333;
    border-radius: 0.3vh; }
  input[type=range]:active::-webkit-slider-runnable-track {
    background: #4d4d4d; }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 0.6vh;
    cursor: pointer;
    background: #333333;
    border-radius: 0.3vh; }
  input[type=range]::-ms-track {
    width: 100%;
    height: 0.6vh;
    cursor: pointer;
    background: #333333;
    border-radius: 0.3vh; }

audio {
  width: 60vw; }
