@import url("https://fonts.googleapis.com/css?family=Cabin");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif");
* {
  box-sizing: border-box; }

html {
  font-size: 8px;
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #1a1a1a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

a:link {
  text-decoration: none;
  color: #e6e6e6; }

a:visited {
  color: gray; }

input, button, submit {
  border: none; }
  input:focus, button:focus, submit:focus {
    outline: none; }

h1 {
  font-family: 'Cabin', sans-serif; }

h2 {
  font-family: 'Cabin', san-serif;
  font-size: 28px;
  line-height: 32px;
  font-weight: 300; }

h3 {
  font-family: 'Cabin', san-serif;
  font-size: 24px;
  line-height: 28px; }

h4 {
  font-family: 'Noto Serif', san-serif;
  font-size: 18px;
  line-height: 24px; }

p, ol {
  font-family: 'Noto Serif', serif;
  font-size: 16px;
  line-height: 24px;
  color: gray; }

ol {
  margin: 32px 16px; }

.text-link {
  transition: color 0.2s; }
  .text-link:hover {
    color: white; }

.audio__group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 64px; }

audio {
  width: 60vw; }

.button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 96px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto 12px auto;
  color: white;
  background-color: #3d3d3d;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  transition: background-color .3s ease, color .3s ease; }
  .button:hover {
    background-color: white;
    color: black; }

.button__text {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 0 0 32px; }

.material-icons.button__icon {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 32px;
  margin: 0 32px; }

.button__group, .button__group--viewport-bottom {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.button__feedback-request {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 64px;
  width: 100%;
  box-shadow: 0 -2px 0 0 #141414;
  background-color: #262626;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: background-color .3s ease, color .3s ease; }
  .button__feedback-request:hover {
    background-color: white;
    color: black; }

.button__group--viewport-bottom {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.action-menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.shell {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #1a1a1a; }

.bottom-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.hero {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 192px;
  width: 100%;
  max-width: 960px;
  margin: auto;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #999999;
  background-color: #1a1a1a;
  margin-top: 2px;
  box-shadow: 0 2px 0 0 #1a1a1a; }

.hero__subtitle {
  margin: 16px;
  font-style: italic;
  font-weight: bold;
  text-align: center; }

.hero__p {
  margin: 16px; }

.notification {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 96px;
  width: 100%;
  margin: 0 auto 12px auto;
  color: #b3b3b3;
  background-color: #262626;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.top-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  width: 100vw;
  background-color: #262626;
  box-shadow: 0 2px 0 0 #141414; }

.top-bar__left-action {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #e6e6e6;
  width: 64px;
  transition: color .2s ease;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .top-bar__left-action:hover {
    color: white;
    text-shadow: 0 0 16px gray; }

.top-bar__heading {
  margin: auto;
  color: #cccccc;
  font-size: 32px;
  line-height: 40px;
  font-weight: bold; }

.top-bar__sub {
  margin: auto;
  color: #cccccc;
  font-size: 28px;
  line-height: 32px;
  font-weight: bold; }

.top-bar__sub--offset {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  width: 100%;
  margin: auto auto auto -64px; }

.material-icons.top-bar__action-button {
  font-size: 32px;
  margin: 0 16px;
  text-shadow: 0px 2px 4px black; }

.top-bar__right-action {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #e6e6e6;
  transition: color .2s ease;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .top-bar__right-action:hover {
    color: white; }

.top-bar__empty {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: transparent;
  width: 80px;
  height: 80px; }
