///	PROJECT VARIABLES

$img-path : "../img/";	///	path to images

///	COLORS
	///	1 - darkest
	///	9 - brightest
	$c00_0:hsla(0,0,0,.0);
$c00:hsl(0,0,0);
$c01:hsl(0,0,1);
$c02:hsl(0,0,2);
$c03:hsl(0,0,3);
$c04:hsl(0,0,4);
$c05:hsl(0,0,5);
$c06:hsl(0,0,6);
$c07:hsl(0,0,7);
$c08:hsl(0,0,8);
$c09:hsl(0,0,9);
$c10:hsl(224,24,10);
$c11:hsl(0,0,11);
$c12:hsl(0,0,12);
$c13:hsl(0,0,13);
$c14:hsl(0,0,14);
$c15:hsl(230,44,15);
$c16:hsl(0,0,16);
$c17:hsl(0,0,17);
$c18:hsl(0,0,18);
$c19:hsl(0,0,15);
$c20:hsl(230,44,20);
$c22:hsl(0,0,22);
$c24:hsl(0,0,24);
$c25:hsl(252,50,25);
$c28:hsl(0,0,28);
$c30:hsl(0,0,30);
	$c30_5:hsla(0,0,30,.5);
$c32:hsl(0,0,32);
$c40:hsl(320,8,40);
	$c40_5:hsla(0,0,40,.5);
$c50:hsl(320,8,50);
$c51:hsl(282,8,51);
$c60:hsl(0,0,60);
$c63:hsl(264,24,63);
$c64:hsl(353,37,64);
$c70:hsl(0,0,70);
$c80:hsl(72,48,80);
$c85:hsl(37,60,83);
$c90:hsl(0,0,90);
$c100:hsl(0,0,100);

///
$button-color: $c25;
$max-screen-width: 960px;
$top-bar__height: 64px; /// sets the height of the top bar

/// MIXINS
@mixin flex($flexunit) { /// set flex-grow / flex-shrink / basis
	display: 	flex;
	flex:		$flexunit;
}

@mixin scene($flex-size) {
  @include        flex($flex-size); /// 
  ///border-radius:  $rem1;         /// smaller corners for inner containers, .5 instead of 1
  ///margin-bottom:  $rem2;         /// bottom margin set to keep from touching choices
}

///	IMPORTS

@import 'partials/base'; /// 1st
@import 'partials/mind_type'; /// 2nd
///@import	'partials/mind_loops'; ///for playing with grids later
@import 'partials/mind_audio-controls';
@import	'partials/mind_button';
@import	'partials/mind_flexboxes';
@import 'partials/mind_hero';
@import	'partials/mind_notification';
@import	'partials/mind_top-bar';
