////////////////////////////////////////////////////////////////////////////////
// BASE STYLES                                                                //
////////////////////////////////////////////////////////////////////////////////
* { box-sizing: border-box }  ///	mindblowing

html {
	font-size: 8px;  /// all rems are relative to this number
	height: 100%;    /// sets the root container height to 100% of the viewport
	width: 100%;
}

body {
	margin: 0;     /// gets rid of the default margins on the top and left
	height: 100%;  /// sets the body container height to 100% of the root
	width: 100%;
	background-color: $c10;
	@include flex(1); /// allows for flexbox alignments in the full viewport
	flex-direction: column; /// turn this off to watch everything break

}

a:link { 
	text-decoration: none; 
	color: $c90;
}

a:visited {
	color: $c50;
}
input, button, submit { border:none; &:focus {outline: none;} } /// removes outlines

$rem1: 1rem;    /// sets group 1 rem units to 1 rem
$rem2: 1.5rem;	/// sets group 2 rem units to 1.5 rem