.button {
  display: flex;
	min-height: 96px;
  width: 100%;
  max-width: 960px;
	margin: 0 auto 12px auto;
  color: $c100;
  background-color: $c15;
	align-items: center;/// centers text on the y axis
  ///background-color: $c15;
  ///box-shadow: 0 6px 0 0 $c08;
  		&:hover { 
  	 		background-color: $c100;
  	 		box-shadow: 0 4px 0 0 $c60, 0 0 16px 0 $c50; ///makes the button glow on hover
        color: $c00;

  	 	}
	transition: background-color .2s ease, box-shadow .2s ease, margin .2s ease, color .2s ease; 
}

.button__text {
  @include flex(1);
  margin: 0 0 0 32px;
}

.material-icons.button__icon {
  display: flex;
  font-size: 32px;
  margin: 0 32px;
}

.button__group {
  @include flex(1);/// button container
  flex-direction:column;
}