.action-menu	{
	@include flex(1);

}

.shell {
	@include flex(1); ///100% of the viewport height
	height: 100%; /// makes for no scrolling
	flex-direction:	column; /// going to lay this out vertically
	background-color: $c10;
	///margin:90vh 16px -90vh; /// moves to the bottom
}


.home-scene{
	@include flex(1);
	height: 100%;
	flex-direction:	column; /// going to lay this out vertically
	align-items: center;
	justify-content: center;
}


.bottom-bar {
	@include flex(2);/// 1/12 of the viewport height
	/// layout defaults to horiz
}