.top-bar {
	display: flex;
	height: $top-bar__height;
	width: 100vw;
	background-color: $c15;
	box-shadow: 0 2px 0 0 $c08;
	/// layout defaults to horiz
}

.top-bar__left-action { 
	display: flex;
	color: $c90;
	width: 64px;
		&:hover { 
			color:$c100; 
			text-shadow:0 0 16px $c50;
		}
	transition:color .2s ease; 
	align-items: center;/// centers text on the y axis
}

.top-bar__heading {
	margin: auto; ///horizontally center
	color: $c80; ///this is set in import.scss
	font-size: 32px; ///dynamic text size set to 4% of viewport height
	line-height: 40px; /// for vertical rhythm
	font-weight: bold;
}

.top-bar__sub {
	margin: auto; ///horizontally center
	color: $c80; ///this is set in import.scss
	font-size: 28px; ///dynamic text size set to 4% of viewport height
	line-height: 32px;
	font-weight: bold;
}

.top-bar__sub--offset {
	display: flex;
	height: $top-bar__height;
	width: 100%;
	margin: auto auto auto -64px; /// keeps heading text centered to the page if a back button is present
}

.material-icons.top-bar__action-button {
	font-size: 32px;
	margin: 0 16px;
	text-shadow: 0px 2px 4px $c00;
}

.top-bar__right-action { 
	display: flex;
	width: 80px;
	height: 80px;
	justify-content:flex-end;
	color: $c90;
		&:hover { 
			color:$c100; 
		}
	transition:color .2s ease; 
	align-items: center;/// centers text on the y axis
}

.top-bar__empty {
	display: flex;
	color: $c00_0;
	width: 80px;
	height: 80px;
}
