@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

h1 {
	font-family: 'Cabin', sans-serif; ///font set with fallback
}


h2 {
	font-family: 'Cabin', san-serif; ///font set with fallback
	font-size: 24px; ///dynamic text size set to 4% of viewport height
	line-height: 28px;
	font-weight: 300;
}

h3 {
	font-family: 'Cabin', san-serif; ///font set with fallback
	font-size: 20px; ///dynamic text size set to 4% of viewport height
	line-height: 24px;
}

h4 {
	font-family: 'Noto Serif', san-serif; ///font set with fallback
	font-size: 16px; ///dynamic text size set to 4% of viewport height
	line-height: 20px;
}

p {
	font-family: 'Noto Serif', serif; ///font set with fallback
	font-size: 14px; ///dynamic text size set to 4% of viewport height
	line-height: 20px;
	color: $c50;
}

ol {
	@extend p;
	margin: 32px 16px;
}

.text-link {
	&:hover {
		color: $c100;
	}
	transition: color .2s
}
