.button {
	@include flex(1);/// button container
	height: 8vh;
	min-height: 48px;
	margin: auto; ///horizontally center
  	text-transform: uppercase;
  	color: $c00;
	align-items: center;/// centers text on the y axis
	background-color: $c90;
	box-shadow: 0 4px 0 0 $c60;
  		&:hover { 
  	 		background-color: $c100;
  	 		box-shadow: 0 4px 0 0 $c60, 0 0 16px 0 $c50; ///makes the button glow on hover

  	 	}
  	 	&:active {
  	 		color: $c100;
  	 		background-color: $c20;
  	 		box-shadow: 0 0 0 0;
  	 		box-shadow: inset 0 2px 2px #000000;
  	 		margin: 12px 32px 4px; /// makes the button click down into place on tap
  	 	}
	transition: background-color .2s ease, box-shadow .2s ease, margin .2s ease, color .2s ease; 
	justify-content: center; /// centers text on the x axis
	margin:8px 32px;
	border-radius: 4px;
	cursor:pointer;
}