.button {
  display: flex;
	min-height: 96px;
  max-width: $max-screen-width;
	margin: 0 auto 12px auto;
  color: $c100;
  background-color: $c15;
	align-items: center;/// centers text on the y axis
  ///background-color: $c15;
  ///box-shadow: 0 6px 0 0 $c08;
  		&:hover { 
  	 		background-color: $c100;
        color: $c00;

  	 	}
	transition: background-color .3s ease, color .3s ease; 
}

.button__text {
  @include flex(1);
  margin: 0 0 0 32px;
}

.material-icons.button__icon {
  display: flex;
  font-size: 32px;
  margin: 0 32px;
}

.button__group {
  @include flex(1);/// button container
  flex-direction:column;
}